#outer_calendar {
    width: 700px;
    margin: 0 auto;
    margin-right: 5%;
    flex: 2;
    color: #003300;
}

#panel {
    color: red;
    flex: 1;
}

#container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#container h1 {
    color: black;
    padding-left: 2%;
}

#buttons{
    top: 0;
    right: 0;
    position: fixed;
}

#userlist, #grouplist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 150px;
    background-color: teal;
    color: #FFF;
    overflow-y: scroll;
}

#requestlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: teal;
    color: #FFF;
}

#userlist  li, #grouplist li, #groupmembers li, #requestlist li{
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    padding-left: 4%;
    padding-bottom: 1%;
    padding-top: 1%;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

#userlist li:last-child, #grouplist li:last-child, #groupmembers li:last-child, #requestlist li:last-child{
    border: none;
}

#userlist li:hover, #grouplist li:hover, #groupmembers li:hover, #requestlist li:hover{
    font-size: 25px;
    background: #f6f6f6;
}

#home {
    background-color: black;
    box-shadow: 0 0 5px 2px paleturquoise;
    margin: 3%;
    padding: 2%;
    color: white;
}

#home h1 {
    font-size: 15px;
    display: inline;
    color: white;
}

img {
    width: 30px;
    height: 30px;
    display: inline;
}

textarea {
    max-width: 100%;
    max-height: 100%;
}

#group-div {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#creategroup {
    float: right;
    display: inline;
}

#group-h1 {
    display: inline;
    width: 100%;
}